@import "../../style.scss";

.stories {
  @include mobile {
    margin-top: 10px;
    height: 70px;
    justify-content: space-between;
  }

  @include tablet {
    height: 180px;
    gap: 10px;
  }

  display: flex;
  gap: 10px;
  height: 230px;
  margin-bottom: 30px;
  .story {
    position: relative;

    @include mobile {
      height: 70px;
      width: 70px;
      flex: none;
      border-radius: 50%;
    }

    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 500;

      @include mobile {
        display: none;
      }
    }

    button {
      position: absolute;
      bottom: 40px;
      left: 10px;
      color: white;
      background-color: #5271ff;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
